[submodule "sfdx-source-dependencies/fflib-apex-mocks"]
	path = sfdx-source-dependencies/fflib-apex-mocks
	url = https://github.com/apex-enterprise-patterns/fflib-apex-mocks.git
[submodule "sfdx-source-dependencies/fflib-apex-common"]
	path = sfdx-source-dependencies/fflib-apex-common
	url = https://github.com/apex-enterprise-patterns/fflib-apex-common.git
[submodule "sfdx-source-dependencies/force-di"]
	path = sfdx-source-dependencies/force-di
	url = https://github.com/apex-enterprise-patterns/force-di.git
[submodule "sfdx-source-dependencies/at4dx"]
	path = sfdx-source-dependencies/at4dx
	url = https://github.com/apex-enterprise-patterns/at4dx.git
